<div class="admin-controls">
  <div class="span15">
    <ul class="nav nav-pills">
      <li>{{#link-to "admin.backups.index"}}{{i18n admin.backups.menu.backups}}{{/link-to}}</li>
      <li>{{#link-to "admin.backups.logs"}}{{i18n admin.backups.menu.logs}}{{/link-to}}</li>
    </ul>
  </div>
</div>

<div class="admin-container">
  {{outlet}}
</div>
